{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <h1>#{{tag}}가 달린 게시글</h1>
    <div>
        {% for b in blogs %}
        <hr/>
        <h3>{{b.title}}</h3>
        {{b.writer}} | {{b.pub_date}}<br>
        {{b.summary}}
        <a href="{% url 'main:detail' b.id %}">자세히 보기</a>
        <br>
        {% endfor %}
    </div><hr/>
    <h1>#{{tag}}가 달린 댓글</h1>
    <div>
        {% for a in comments %}
        <hr/>
        <h3>{{a.blog.title}}</h3>
        {{a.writer}} | {{a.pub_date}}<br>
        {{a.content}}
        <a href="{% url 'main:detail' a.blog.id %}">자세히 보기</a>
        <br>
        {% endfor %}
    </div>
</div>

{% endblock %}